/* line 1, ../scss/context.scss */
body.faciliteter, body.bodymind { background-image: url('../images/background/gulv.jpg?1377019142'); }

/* line 5, ../scss/context.scss */
body.photogallery, body.haandbold { background-image: url('../images/background/hallen.jpg?1377019142'); }

/* line 9, ../scss/context.scss */
body.fag, body.badminton, body.volleyball { background-image: url('../images/background/net3.jpg?1377019143'); }

/* line 13, ../scss/context.scss */
body.langekurser, body.fitness, body.spinning-pump-boksning { background-image: url('../images/background/ribber2.jpg?1377019143'); }

/* line 17, ../scss/context.scss */
body.underviser, body.adventure { background-image: url('../images/background/klatre.jpg?1377019142'); }

/* line 21, ../scss/context.scss */
body.kortekurser, body.teambuilder { background-image: url('../images/background/ropes.jpg?1371591343'); }

/* line 25, ../scss/context.scss */
body.organisation, body.fitnessinstruktoer { background-image: url('../images/background/haandvaegte.jpg?1377019142'); }

/* line 29, ../scss/context.scss */
body.bestilling { background-image: url('../images/background/pool.jpg?1377019143'); }

/* line 33, ../scss/context.scss */
body.aerobic { background-image: none; }

/* line 37, ../scss/context.scss */
body.musiklinje { background-image: url('../images/background/bgNoder.jpg?1377019142'); }

/* line 41, ../scss/context.scss */
body.politilinje { background-image: url('../images/background/bgpoliti.jpg?1377019142'); }

/* line 45, ../scss/context.scss */
body.skitur { background-image: url('../images/background/bgski.jpg?1377019142'); }

/* big graphic at top of screen */
/* line 71, ../scss/context.scss */
.front #prop, .fodbold #prop, .fodboldakademi #prop { position: absolute; z-index: 100; width: 634px; height: 394px; background: url('../images/props/float_fodboldstoevle2.png?1380144472') no-repeat 0 0; top: -284px; left: -34px; }

/* line 76, ../scss/context.scss */
.adventure #prop, .adventurerejse #prop { position: absolute; z-index: 100; width: 566px; height: 471px; background: url('../images/props/float_vandrestoevle.png?1380144473') no-repeat 0 0; top: -361px; left: 34px; }

/* line 80, ../scss/context.scss */
.haandbold #prop { position: absolute; z-index: 100; width: 355px; height: 371px; background: url('../images/props/float_haandbold.png?1380144473') no-repeat 0 0; top: -261px; left: 245px; }

/* line 84, ../scss/context.scss */
.outdoorenergy #prop { position: absolute; z-index: 100; width: 300px; height: 300px; background: url('../images/props/lobesko.png?1380144470') no-repeat 0 0; top: -190px; left: 300px; }

/* line 88, ../scss/context.scss */
.fodboldakademi #prop2 { position: absolute; z-index: 100; width: 442px; height: 470px; background: url('../images/props/float_lyseroedfodbold.png?1380144472') no-repeat 0 0; bottom: -420px; left: 362px; }

/* line 92, ../scss/context.scss */
.bodymind #prop2 { position: absolute; z-index: 100; width: 300px; height: 314px; background: url('../images/props/float_bodymind.png?1380144473') no-repeat 0 0; bottom: -264px; left: 220px; }

/* line 96, ../scss/context.scss */
.teambuilder #prop2 { position: absolute; z-index: 100; width: 566px; height: 471px; background: url('../images/props/float_vandrestoevle.png?1380144473') no-repeat 0 0; bottom: -421px; left: 486px; }

/* line 100, ../scss/context.scss */
.front #prop2, .fodbold #prop2 { position: absolute; z-index: 100; width: 567px; height: 425px; background: url('../images/props/float_fodbold.png?1380144472') no-repeat 0 0; bottom: -375px; left: 487px; }

/* line 103, ../scss/context.scss */
.faciliteter #prop2, .fitness #prop2, .aerobic #prop2 { position: absolute; z-index: 100; width: 567px; height: 425px; background: url('../images/props/float_fitnesssko.png?1380144472') no-repeat 0 0; bottom: -375px; left: 487px; }

/* line 107, ../scss/context.scss */
.fitnessinstruktoer #prop2, .spinning-pump-boksning #prop2 { position: absolute; z-index: 100; width: 567px; height: 331px; background: url('../images/props/float_fitnesssko3.png?1380144471') no-repeat 0 0; bottom: -281px; left: 487px; }

/* line 111, ../scss/context.scss */
.badminton #prop { position: absolute; z-index: 100; width: 256px; height: 262px; background: url('../images/props/float_fjerbold.png?1380144472') no-repeat 0 0; top: -152px; left: 344px; }

/* line 115, ../scss/context.scss */
.volleyball #prop, .beachvolley #prop { position: absolute; z-index: 100; width: 200px; height: 169px; background: url('../images/props/volleyball.png?1380144471') no-repeat 0 0; top: -59px; left: 400px; }
