/* line 1, ../scss/mail.scss */
.message-wrapper { width: 800px; }

/* line 5, ../scss/mail.scss */
.message-wrapper .header, .message-wrapper .body { padding: 10px; }

/* line 8, ../scss/mail.scss */
.message-wrapper a { text-decoration: none; }

/* line 11, ../scss/mail.scss */
.message-wrapper .header { background-color: #FFF; color: #000000; height: 100px; }

/* line 16, ../scss/mail.scss */
.message-wrapper .header .logo { float: left; }

/* line 19, ../scss/mail.scss */
.message-wrapper .header .thank-you { float: right; font-size: 25px; font-weight: bold; }

/* line 24, ../scss/mail.scss */
.message-wrapper .body { border: solid 1px #E9E9E9; padding: 10px; }

/* line 28, ../scss/mail.scss */
.message-wrapper .detail span.order a { color: #009BD4; }

/* line 31, ../scss/mail.scss */
.message-wrapper .detail { color: #b2b2b2; padding-bottom: 15px; font-size: 18px; }

/* line 36, ../scss/mail.scss */
.message-wrapper .detail span { color: #00a0da; }

/* line 39, ../scss/mail.scss */
.message-wrapper .view-order-status { margin-bottom: 30px; }

/* line 42, ../scss/mail.scss */
.message-wrapper .view-order-status a { background-color: #009bd4; width: auto; color: white; font-weight: bold; padding: 10px 30px; border-radius: 50px; }

/* line 50, ../scss/mail.scss */
.message-wrapper .ship-to { float: left; margin-bottom: 30px; }

/* line 56, ../scss/mail.scss */
.message-wrapper .ship-to .ship-to-title, .message-wrapper .ship-method .ship-method-title, .message-wrapper .order-summary-wrapper p.items-title { font-weight: bold; font-size: 20px; color: black; }

/* line 65, ../scss/mail.scss */
.message-wrapper .ship-method .express-delivery, .message-wrapper .ship-method p, .message-wrapper .ship-to .addressfield-container-inline *, .message-wrapper .ship-to .street-block, .message-wrapper .ship-to .country { color: #90847c; font-size: 17px; }

/* line 69, ../scss/mail.scss */
.message-wrapper .shipping-wrapper p { margin-top: 0px; }

/* line 75, ../scss/mail.scss */
.message-wrapper .ship-to .first-name, .message-wrapper .ship-to .last-name, .message-wrapper .ship-to .name-block, .message-wrapper .ship-method .express-delivery { font-weight: bold; }

/* line 78, ../scss/mail.scss */
.message-wrapper .ship-method { float: right; /* LTR */ }

/* line 83, ../scss/mail.scss */
.message-wrapper .shipping-wrapper, .message-wrapper .order-summary-wrapper { clear: both; }

/* line 86, ../scss/mail.scss */
.message-wrapper .order-summary-wrapper .view-commerce-cart-summary table { border: none; border-collapse: collapse; width: 100%; }

/* line 91, ../scss/mail.scss */
.message-wrapper .order-summary-wrapper .view-commerce-cart-summary th { border: none; background: transparent; border-bottom: #AAAAAA solid 1px; text-transform: none; font-weight: bold; text-align: left; color: black; }

/* line 100, ../scss/mail.scss */
.message-wrapper .order-summary-wrapper .view-commerce-cart-summary tr { border: none; background: transparent; padding: 10px; text-align: left; }

/* line 106, ../scss/mail.scss */
.view-commerce-cart-summary .views-table tbody td { padding: 20px 10px; }

/* line 109, ../scss/mail.scss */
.message-wrapper .order-summary-wrapper table.commerce-price-formatted-components { width: auto; float: right; /* LTR */ margin-bottom: 30px; }

/* line 115, ../scss/mail.scss */
.message-wrapper .order-summary-wrapper table.commerce-price-formatted-components td { text-align: right; /* LTR */ padding: 10px; }

/* line 120, ../scss/mail.scss */
.message-wrapper .question { clear: both; }

/* line 123, ../scss/mail.scss */
.message-wrapper .question a { color: #009BD4; }
