html, body {
	color: black;
	background: white;
	width: auto;
	padding: 10px;
	text-align: left;
	font-size: 12pt;
	font: Georgia, serif;
}

.top {
    display: none;
}

#hd h1 {
	position: relative;
	top: 0;
	right: 0;
	width: auto;
	height: auto;
}

#hd h1 {
    display: block;	
}

#hd h1 a span {
	position: relative;
	top: 0em
    display: block;	
    background: url(../logo.png) no-repeat;
    padding: 15px;
    color: black;
}

#col1,#col3 {
	display: none;
}

#footer {
    display: none;
}

#breadcrumb {
	display: none
}

#prop, #base {
	display: none
}

#content-main {
    width: 100%;
    margin: 0;
    float: none;
}

#content-main img {
    float: right;
    margin: 5px;
}

p {
    font-size: 12pt;
}

a:link, a:visited {
	color: #06c;
	font-weight: bold;
	text-decoration: underline;
}

a:link:after,a:visited:after {
	content: " (" attr(href) ") ";
	font-size: 90%;
}
