/* flash specific */

.media-youtube-outer-wrapper {
  clear: both;
  /*padding: 4px;*/
  background: #fff;
  /*border: 4px solid black;*/
  margin: 10px auto;
  /*width: 100%;*/
}
.media-youtube-outer-wrapper object {
  width: 600px;
  /*height:350px;*/
}

.field-name-field-picture img {
  float: right;
  margin-left: 1em;
  margin-bottom: 1em;
}

.field-name-field-image img {
  float: right;
  margin-left: 5px;
  margin-bottom: 5px;
}

.sidebar-slide {
  position: relative;
  top: 0;
  height: 208px;
  width: 160px;
  overflow: hidden;
}

.sidebar-slide div.views-field-title a {
  position: absolute;
  top: 100px;
  display: block;
  font-size: 1em;
  text-decoration: none;
  font-weight: bold;
  background: black;
  padding: 5px 10px;
  color: white;
  opacity:0.7;
  filter:alpha(opacity=70); 
   
}

.subject-packages {
  position: relative;
}

.subject-packages .views-field-name {
  position: absolute;
  top: 300px;
}

.subject-packages .views-field-name a {
  color: black;
  text-decoration: none;
  font-size: 20px;
  background: white;
  padding: 5px 10px;
}

.short-course-types .views-field-name {
  position: relative;
  top: -55px;
  height: 0px;
}

.short-course-types .views-field-name a {
  color: black;
  text-decoration: none;
  font-size: 16px;
  background: white;
  padding: 5px 10px;
  width: 100px;
}

.faciliteter .views-field-title {
  position: relative;
  top: -55px;
  height: 0px;
}

.faciliteter .views-field-title a {
  color: black;
  text-decoration: none;
  font-size: 16px;
  background: white;
  padding: 5px 10px;
  width: 100px;
}

.subjects-page td {
  margin: 0;
  padding: 0;
}

.subjects-page .views-field-title {
  position: relative;
  top: -60px;
  height: 0px;
}

.subjects-page .views-field-title a {
  color: white;
  text-decoration: none;
  font-size: 12px;
  background: black;
  padding: 5px 5px;
  width: 135px;
  opacity:0.7;
  filter:alpha(opacity=70);
  display: block;
  margin: 0;
}

.travel .views-field-title {
  position: relative;
  top: -140px;
  height: 0px;
  display: block;
}

.travel .views-field-title a {
  color: black;
  text-decoration: none;
  font-size: 16px;
  background: white;
  padding: 5px 5px;
  width: 135px;
  opacity:0.7;
  filter:alpha(opacity=70);
  display: block;
}

.page-fag #content-main h2 {
  text-transform: uppercase;
  background: #41AD49;
  font-size: 30px;
  color: white;
  padding: 5px 10px;
}

.views-table {
  clear: both;
}

.lectures-appetizer {
  position:relative;
  height: 450px;
  overflow: hidden;
  padding: 0;
}

.lectures-appetizer .views-slideshow-cycle-main-frame-row-item .views-field-field-picture {
  height: 448px;
  overflow: hidden;
}

.lectures-appetizer .transparent {
  background: white;
  position: absolute;
  top: 200px;
  left: 0px;
  width: 300px;
  color: black;
  padding: 5px;
  font-size: 1.3em;
}

.lectures-appetizer .transparent a {
  color: black;
  text-decoration: none;
}

.lectures-appetizer .views-field-field-speaker {
  color: black;
  position: absolute;
  top: 75px;
  font-size: 0.8em;
  width: 115px;
  background: white;
  padding: 0 4px;
}

.lectures-slideshow {
  float: left;
  display: block;
  width: 295px;
  margin-left: 10px;
  height: 305px;
}

.lectures-slideshow .transparent {
  background: white;
  position: relative;
  top: -115px;
  left: 0px;
  width: 215px;
  color: black;
  padding: 5px;
  font-size: 1.1em;
}

.lectures-slideshow .transparent a {
  color: black;
  text-decoration: none;
}

.news-slideshow {
  float: left;
  display: block;
  width: 295px;
  height: 448px;
}

.news-slideshow a {
  color: black;
  text-decoration:none;
}

.news-slideshow .transparent {
  background: black;
  position: relative;
  top: -160px;
  left: 0px;
  width: 480px;
  color: white;
  padding: 10px;
  font-size: 1.1em;
  zoom: 1;
  filter: alpha(opacity=70);
  opacity: 0.7; 
}

#content-main .news-slideshow .transparent h2 {
  font-size: 1.1em;
}

.field-name-field-registration {
  margin: 1em 0;
}

.field-name-field-registration a {
  background: #ffffff url(../images/buttons.png) 0 0 repeat-x;
  border: 1px solid #e4e4e4;
  border-bottom: 1px solid #b4b4b4;
  border-left-color: #d2d2d2;
  border-right-color: #d2d2d2;
  color: #3a3a3a;
  cursor: pointer;
  font-size: 0.929em;
  font-weight: normal;
  text-align: center;
  margin-bottom: 1em;
  margin-right: 0.6em;
  padding: 4px 17px;
  -khtml-border-radius: 15px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  text-decoration: none;
}

div.field-name-field-register-at {
  display: inline-block;
  margin-top: 1em;
  background: #ffffff url(../images/buttons.png) 0 0 repeat-x;
  border: 1px solid #e4e4e4;
  border-bottom: 1px solid #b4b4b4;
  border-left-color: #d2d2d2;
  border-right-color: #d2d2d2;
  color: #3a3a3a;
  cursor: pointer;
  /* font-size: 0.929em; */
  font-weight: normal;
  text-align: center;
  margin-bottom: 1em;
  margin-right: 0.6em;
  padding: 4px 17px;
  -khtml-border-radius: 15px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  text-decoration: none;
  width: auto;
}

div.field-name-field-register-at a {
  text-decoration: none;
}

.user-picture {
  float: left;
  margin-right: 0.5em;
}

.submitted {
  color: #ccc;
  margin-bottom: 1em;
}

.submitted a {
  color: #ccc;
}

.field-name-field-course-leader {
  background: #eee;
  border: #ccc 2px solid;
  padding: 10px 10px 5px 5px;
  margin: 1em 0;
}

.field-name-field-course-leader .field-name-field-employee-reference .field-items {
}

.field-name-field-course-leader .field-name-field-image .field-items {
  float: left;
  margin-right: 1em;
}

.field-name-field-course-leader a {
  font-weight: bold;
}

.field-name-field-course-leader h2 {
  font-size: 1em;
}
/*
.field-name-field-employee-reference {
  background: #eee;
  border: #ccc 2px solid;
  padding: 10px 10px 5px 5px;
  margin: 1em 0;
}
*/

.field-name-field-employee-reference .field-name-field-employee-reference .field-items {
}

.field-name-field-employee-reference .field-name-field-image .field-items {
  float: left;
  margin-right: 1em;
}

.field-name-field-employee-reference a {
  font-weight: bold;
}

.field-name-field-employee-reference h2 {
  font-size: 1em;
}

.node-employee-context ul.inline, .node-employee ul.inline {
  display: none;
}

.field-type-entityreference .node-webform h2 {
  font-size: 1em;
}

.field-type-entityreference .node-webform h2 a {
  text-decoration: none;
  color: black;
}

.node-type-vih-long-course div.field-name-field-course-time {
  margin-bottom: 1em;
  color: #bbb;
}

#col3 .short-courses-sidebar ul {
  padding-left: 0;
}

#col3 .short-courses-sidebar li	 {
  margin-bottom: 0.3em;
  padding-bottom: 0;
}

#col3 .short-courses-sidebar h3 {
  font-weight: normal;
  text-transform: lowercase;
}
/*
.subject-packages {
  position: relative;
}
*/
#views_slideshow_cycle_main_oneliners-block .views-field-title {
  position: absolute;
  top: 300px;
}

#views_slideshow_cycle_main_oneliners-block .views-field-title h3 {
  color: black;
  text-decoration: none;
  font-size: 25px;
  background: white;
  padding: 10px 15px;
}
 
.teachers td {
  margin: 0;
  padding: 0;
}

.teachers .views-field-title {
  position: relative;
  top: -70px;
  height: 0px;
}

.teachers .views-field-title a {
  color: white;
  text-decoration: none;
  font-size: 12px;
  background: black;
  padding: 8px 8px;
  width: 129px;
  opacity:0.7;
  filter:alpha(opacity=70);
  display: block;
  margin: 0;
  font-weight: bold;
}

#cboxContent table {
  width: 100%;
  font-size: 1em;
}

#cboxContent table td, #cboxContent table th {
  padding: 0.5em;
  text-align: center;
}

#cboxContent th {
  background: #ccc;
  color: white;
  border: 2px solid white !important;
}

#cboxContent td {
  background: #eee;
  color: black;
  border: 2px solid white !important;
}

#cboxContent caption {
  text-align: left;
  height: 50px;
  padding-left: 130px;
  font-size: 20px;
  color: #bbb;
  font-weight: bold;
  background: white url(../images/logo/logo-skemaeksempel-colorbox.png) no-repeat 5px 0px;
  padding-top: 15px;
}

#skemaeksempel {
  display: none;
}

#cboxContent #skemaeksempel {
  display: block;
}

#morereasons {
  display: none;
}

#cboxContent #morereasons {
  display: block;
  text-align: left;
  list-style-type: square;
}

#cboxContent #morereasons li {
  margin-bottom: 1em;
}

#content-main .pane-employees-context {
  background: #cbcbcb;
  -moz-border-radius: 8px;
  border-radius: 8px;
  margin-bottom: 1em;
}

#content-main .pane-employees-context th {
  display: none;
}

#content-main .teacher-context table.views-table td, #content-main .teacher-context .views-table tr, #content-main .teacher-context table.views-table, #content-main .teacher-context .views-table th {
  border: none;
  background: none;
}

#content-main .teacher-context table.views-table td {
  vertical-align: middle;
}

#content-main .teacher-context-table h2.pane-title, #content-main .pane-employees-context h2.pane-title {
  padding: 10px 10px 0px 10px !important;
}

#content-main .teacher-context .views-content {
  padding: 10px;
}

#content-main .teacher-context table.views-table td {
  padding: 10px;
}

table.skema caption {
  font-weight: bold;
  text-transform: uppercase;
}

table.skema td, table.skema th {
  text-align: center;
}

table.skema td {
  border-width: 0 1px 0 1px;
  border-style: solid;
  border-color: #bebfb9;
}

table.skema tr {
  border-width: 1px 0 1px 0;
  border-style: solid;
  border-color: #bebfb9;
}

form.commerce-add-to-cart {
  margin-top: 1em;
  background: #cbcbcb;
  -moz-border-radius: 8px;
  border-radius: 8px;
  margin-bottom: 1em;  
  padding: 1em;
}

form.commerce-add-to-cart .views-table {
  margin-top: 1em;  
}
