html {
  font: 13px/1.5 Verdana, Arial, Helvetica, sans-serif;
}

body {
  height: 100%;
  background-color: $background-color;
  background-image: image-url("background/soccerfield2.jpg");
}

#{headings()} {
  font-size: 100%;
  font-weight: bold;
  margin-bottom: 0.5em;
}

p {
  margin: 0 0 1em 0;
}

h1 {
  font-size: 1.5em;
  border-bottom: 1px solid #ccc;
  letter-spacing: 0.1em;
  margin-bottom: 1em;
}

h2 {
  font-size: 1.2em;
  line-height: 16px;
}

h3 {
  font-size: 1em;
}

h4 {
  font-size: 1em;
}

a {
  color: $link-color;
}

img {
  border: 0;
}

ul.contextual-links {
  margin: 0;
  li {
    list-style: none;
  }
}

q:before,q:after {
  content: '';
}

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}
