// Variables
//
// Styleguide 1.0.0

// $branding-color - main branding color
$branding-color: #41AD49;

// $background-color - main background color
$background-color: #5f7283;

// $link-color - primary link color
$link-color: #4278AE;

// $face_percent - how much should the sidebars fade in color
$fade_percent: 18%;
