// Variables
//
// Styleguide 1.0.0

// Colors
//
// Markup:
// <div style="background: #{$branding-color};" class="styleguide-color">$branding-color</div>
// <div style="background: #{$background-color};" class="styleguide-color">$background-color</div>
// <div style="background: #{$link-color};" class="styleguide-color">$link-red</div>
//
// Styleguide 1.1.0

// $branding-color - main branding color
$branding-color: #41AD49;

// $background-color - main background color
$background-color: white;

// $link-color - primary link color
$link-color: #4278AE;

// $face_percent - how much should the sidebars fade in color
$fade_percent: 18%;
