  body.faciliteter,body.bodymind {
    background-image: image-url("background/gulv.jpg");
  }

  body.photogallery,body.haandbold {
    background-image: image-url("background/hallen.jpg");
  }

  body.fag,body.badminton,body.volleyball {
    background-image: image-url("background/net3.jpg");
  }

  body.langekurser,body.fitness,body.spinning-pump-boksning {
    background-image: image-url("background/ribber2.jpg");
  }

  body.underviser,body.adventure {
    background-image: image-url("background/klatre.jpg");
  }

  body.kortekurser,body.teambuilder {
    background-image: image-url("background/ropes.jpg");
  }

  body.organisation,body.fitnessinstruktoer {
    background-image: image-url("background/haandvaegte.jpg");
  }

  body.bestilling {
    background-image: image-url("background/pool.jpg");
  }

  body.aerobic {
    background-image: none;
  }

  body.musiklinje {
    background-image: image-url("background/bgNoder.jpg");
  }

  body.politilinje {
    background-image: image-url("background/bgpoliti.jpg");
  }

  body.skitur {
    background-image: image-url("background/bgski.jpg");
  }

  @mixin prop($image) {
    position: absolute;
    z-index: 100;
    width: image-width($image);
    height: image-height($image);
    background: image-url($image) no-repeat 0 0;
  }

  /* big graphic at top of screen */
  .front ,.fodbold,.fodboldakademi {
    #prop {
      @include prop("props/float_fodboldstoevle2.png");
      top: -140px;
      left: 50px;
    }
  }

  .adventure #prop,.adventurerejse #prop {
    @include prop("props/float_vandrestoevle.png");
    top: -125px;
    left: 125px;
  }

  .haandbold #prop {
    @include prop("props/float_haandbold.png");
    top: -100px;
    left: -20px;
  }

  .outdoorenergy #prop {
    @include prop("props/lobesko.png");
    top: -10px;
    left: -20px;
  }

  .fodboldakademi #prop2 {
    @include prop("props/float_lyseroedfodbold.png");
    bottom: -350px;
    right: -350px;
  }

  .bodymind #prop2 {
    @include prop("props/float_bodymind.png");
    bottom: -275px;
    right: 250px;
  }

  .teambuilder #prop2 {
    @include prop("props/float_vandrestoevle.png");
    bottom: -400px;
    right: 0px;
  }

  .front #prop2,.fodbold #prop2 {
    @include prop("props/float_fodbold.png");
    bottom: -1200px;
    left: 400px;
  }
  .faciliteter #prop2,.fitness #prop2,.aerobic #prop2 {
    @include prop("props/float_fitnesssko.png");
    bottom: -300px;
    left: 300px;
  }

  .fitnessinstruktoer #prop2,.spinning-pump-boksning #prop2 {
    @include prop("props/float_fitnesssko3.png");
    bottom: -300px;
    left: 300px;
  }

  .badminton #prop {
    @include prop("props/float_fjerbold.png");
    top: 0px;
    left: 50px;
  }

  .volleyball #prop,.beachvolley #prop {
    @include prop("props/volleyball.png");
    top: 20px;
    left: 50px;
  }
