  body.faciliteter,body.bodymind {
    background-image: image-url("background/gulv.jpg");
  }

  body.photogallery,body.haandbold {
    background-image: image-url("background/hallen.jpg");
  }

  body.fag,body.badminton,body.volleyball {
    background-image: image-url("background/net3.jpg");
  }

  body.langekurser,body.fitness,body.spinning-pump-boksning {
    background-image: image-url("background/ribber2.jpg");
  }

  body.underviser,body.adventure {
    background-image: image-url("background/klatre.jpg");
  }

  body.kortekurser,body.teambuilder {
    background-image: image-url("background/ropes.jpg");
  }

  body.organisation,body.fitnessinstruktoer {
    background-image: image-url("background/haandvaegte.jpg");
  }

  body.bestilling {
    background-image: image-url("background/pool.jpg");
  }

  body.aerobic {
    background-image: none;
  }

  body.musiklinje {
    background-image: image-url("background/bgNoder.jpg");
  }

  body.politilinje {
    background-image: image-url("background/bgpoliti.jpg");
  }

  body.skitur {
    background-image: image-url("background/bgski.jpg");
  }

  @mixin prop {
    position: absolute;
    z-index: 100;
  }

  /* big graphic at top of screen */
  .front ,.fodbold,.fodboldakademi {
    #prop {
      @include prop;
      width: 634px;
      height: 394px;
      top: -140px;
      left: 50px;
      background: image-url("props/float_fodboldstoevle2.png") no-repeat 0 0;

    }
  }

  .adventure #prop,.adventurerejse #prop {
    @include prop;
    width: 566px;
    height: 471px;
    top: -125px;
    left: 125px;
    background: image-url("props/float_vandrestoevle.png") no-repeat 0 0;
  }

  .haandbold #prop {
    @include prop;
    width: 355px;
    height: 371px;
    top: -100px;
    left: -20px;
    background: image-url("props/float_haandbold.png") no-repeat 0 0;
  }

  .outdoorenergy #prop {
    @include prop;
    width: 300px;
    height: 300px;
    top: -10px;
    left: -20px;
    background: image-url("props/lobesko.png") no-repeat 0 0;
  }

  .fodboldakademi #prop2 {
    @include prop;
    width: 442px;
    height: 470px;
    bottom: -350px;
    right: -350px;
    background: image-url("props/float_lyseroedfodbold.png") no-repeat 0 0;
  }

  .bodymind #prop2 {
    @include prop;
    width: 300px;
    height: 314px;
    bottom: -275px;
    right: 250px;
    background: image-url("props/float_bodymind.png") no-repeat 0 0;
  }

  .teambuilder #prop2 {
    @include prop;
    width: 566px;
    height: 471px;
    bottom: -400px;
    right: 0px;
    background: image-url("props/float_vandrestoevle.png") no-repeat 0 0;
  }

  /* big graphic at bottom of screen*/
  .front #prop2,.fodbold #prop2 {
    @include prop;
    width: 567px;
    height: 425px;
    bottom: -1200px;
    left: 400px;
    background: image-url("props/float_fodbold.png") no-repeat 0 0;
  }

  /* running show */
  .faciliteter #prop2,.fitness #prop2,.aerobic #prop2 {
    @include prop;
    width: 567px;
    height: 425px;
    bottom: -300px;
    left: 300px;
    background: image-url("props/float_fitnesssko.png") no-repeat 0 0;
  }

  .fitnessinstruktoer #prop2,.spinning-pump-boksning #prop2 {
    @include prop;
    width: 567px;
    height: 331px;
    bottom: -300px;
    left: 300px;
    background: image-url("props/float_fitnesssko3.png") no-repeat 0 0;
  }

  /* big graphic at top of screen */
  .badminton #prop {
    @include prop;
    width: 256px;
    height: 262px;
    top: 0px;
    left: 50px;
    background: image-url("props/float_fjerbold.png") no-repeat 0 0;
  }

  .volleyball #prop,.beachvolley #prop {
    @include prop;
    width: 200px;
    height: 169px;
    top: 20px;
    left: 50px;
    background: image-url("props/volleyball.png") no-repeat 0 0;
  }

