@import "modules/_base";
@import "compass/typography/text/replacement";
@import "compass/reset/utilities";
@import "compass/layout/stretching";
@import "compass/utilities";
@import "sassy-buttons";

@include global-reset;

body {
  text-align: center;
  font: 13px/1.5 Verdana, Arial, Helvetica, sans-serif;
  height: 100%;
  background-color: $background-color;
  background-image: image-url("background/soccerfield2.jpg");
}

a {
  color: $link-color;
}

img {
  border: 0;
}

address,caption,cite,code,em,dfn,th,var {
  font-weight: normal;
}

ul li {
  list-style: none;
}

#{headings()} {
  font-size: 100%;
  font-weight: normal;
  margin: 8px 0 4px 0;
}

q:before,q:after {
  content: '';
}

abbr,acronym {
  border: 0;
  font-variant: normal;
}

sup {
  vertical-align: text-top
}

sub {
  vertical-align: text-bottom
}

input,textarea,select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

pre,code,kbd,samp,tt {
  font-family: monospace;
  line-height: 100%;
}

p,h1 {
  margin: 0 0 1em 0;
}

strong {
  font-weight: bold !important;
}

#outer {
  width: 1098px;
  margin: auto;
  text-align: left;
  padding: 100px 0 0 0;
}

/* top highlight */
#highlighted {
  display: inline;
  font-size: 1em;
  line-height: 1.4;
  background: white;
  border-left: 5px solid $branding-color;
  border-bottom: 5px solid $branding-color;
  border-right: 5px solid $branding-color;
  @include border-bottom-radius(10px);
  @include box-shadow(black 5px 5px 5px);
  width: 469px;
  margin-top: -110px;
  float: right;

  .region-highlighted {
    padding: 10px 10px 10px 20px;
  }
  
  h2 {
    margin-bottom: 0;
    font-weight: bold;
  }
}

#inner {
  position: relative;
  background: white;
  border: 5px solid white;
  margin-top: 20px;
  @include border-bottom-right-radius(40px);
  @include border-top-left-radius(40px);
  @include box-shadow(black 5px 5px 5px);
}

#header {
  @include clearfix;
}

#hd {
  margin: 20px;

  h2 {
    a {
      color: gray;
      text-decoration: none;
      display: block;
      float: right;
      @include replace-text-with-dimensions("logo/logo.gif");
    }
  }
}

.field-name-field-pictures {
  @include clearfix;
  .colorbox {
    margin-right: 8px;
    float: left;
  }
}

#main {
  @include clearfix;
  display: table;
  margin: 1em;
}

#col1, #content-main, #col3 {
  display: table-cell;
  vertical-align: top;
  margin-left: 14px;
  color: #fff;
  padding: 15px 0 15px 0;
  min-height: 200px;
}

#col1 {
  width: 227px;
  padding-top: 50px;
  margin-left: 16px;
  margin-right: 10px;
  background: $branding-color;
  @include border-top-left-radius(30px);
  @include background-image(linear-gradient($branding-color, darken($branding-color, $fade_percent)));

  div.region-sidebar-first {
    padding-left: 12px;
  }

  .region-sidebar-first {
    margin: 0 15px;
  }
}

#content-main {
  padding-top: 0;
  width: 644px;
  margin-left: 9px;
  color: #000;
  overflow: hidden;
  
  .inner {
    padding: 1em;
  }

  #{headings()} {
    font-weight: bold;
    margin-bottom: 0.5em;
  }

  h1 {
    font-size: 1.5em;
    border-bottom: 1px solid #ccc;
    letter-spacing: 0.1em;
    margin-bottom: 0.8em;
  }

  h2 {
    font-size: 1.2em;
    margin-bottom: 0.5em;
  }

  h3 {
    font-size: 1em;
  }

  h4 {
    font-size: 1em;
  }
  
  ul.contextual-links {
    margin: 0;
    li {
      list-style: none;
    }
  }

  .field-type-text-long, .field-type-text-with-summary {
    ul,ol {
      margin: 0.5em 1em;
    }

    ul {
      li {
        list-style: square;
      }
      .links {
        margin-left: 0;
        padding-left: 0;
        margin-bottom: 1em;  
        margin-top: 2em;
        font-size: 0.8em;

        li {
          margin-left: 0;
          padding-left: 0;
          padding-right: 1em;
        }
      }
    }

    li {
      margin: 0.5em 0.5em;
    }
  }
  
  fieldset {
    border: 1px solid #ddd;
    padding: 1em;
    margin-bottom: 1em;
    clear: both;
    
    legend {
      font-weight: bold;
      color: #000;
    }
  }
  
  dt {
    font-weight: bold;
    margin-top: 0.8em;
  }

  dd {
    margin-left: 1em;
  }
  
  p {
    margin-bottom: 0.5em;
  }
}

#col3 {
  padding-top: 10px;
  width: 190px;
  font-size: 11px;
  margin-right: 16px;
  background: $branding-color;
  @include border-bottom-right-radius(30px);
  @include background-image(linear-gradient($branding-color, darken($branding-color, $fade_percent)));

  h2, h3 {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 16px;
    font-size: 12px;
    margin: 0 0 2px;
    padding: 15px 0 0 0;
  }

  ul {
    padding-left: 15px;
  }
  
  li {
    list-style: square;
    padding-bottom: 0.5em;
  }
  
  a {
    color: white;
    text-decoration: none;
  }
  a:hover {
    color: white;
    text-decoration: underline;
  }
  
  .inner {
    line-height: 1.5;
    padding: 1em;
    
    h3 {
      font-weight: bold;
      margin: 12px 0 0;
    }
    
    .last {
      margin: 0
    }
  }
}

#footer {
  @include clearfix;
  padding-bottom: 2em;
  
  p {
    padding: 0 15px;
  }
  
  ul {
    line-height: 1.2;
  }
  
  li {
    list-style: square;
    
    a {
      color: #898989;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 10px;
      letter-spacing: 0.2em;
    }
    a:hover {
      color: #898989;
      text-decoration: underline;
    }
  }
}

#footer-first {
  width: 200px;
  float: left;
  margin: 0 0 0 32px;
}

#footer-second {
  width: 185px;
  float: right;
  color: #000;
  margin-right: 10px;
  display: inline;
  color: #898989;
  font-size: 12px;
  line-height: 1.2;
  
  a {
    color: #898989;
    text-decoration: none;
  }
}

#breadcrumb {
  width: 550px;
  float: left;
  color: #bbb;
  margin: 0 0 0 10px;
  padding: 0 15px;

  a {
    color: #898989;
    text-decoration: none;
    
    em {
      font-style: italic
    }
  }
}

#block-system-main-menu {
  h2 {
    display: none;
  }
  
  .menu {
    padding-bottom: 20px;
    font-size: 12px;
  
    li {
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 0.1em;
      padding: 7px 0 7px 0;
      list-style-image: none;
      list-style-type: none;
    
      ul {
        padding: 0 0;
        margin-left: 5px;
      }
    
      li {
        padding: 0 0;
        margin-left: 10px;
        text-transform: none;
        font-weight: normal;
        letter-spacing: 0em;	
        list-style-type: square;
      }
    }
  
    a {
      color: white;
      text-decoration: none;
      background: transparent;
    }
    a:hover {
      color: #005511;
      text-decoration: none;
    }
  
    li#current a {
      color: #005511;
      text-decoration: none;
    }
  
    a.active-trail {
      color: #005511;
      text-decoration: none;
    }
  }
}

/* SEARCH FORM */
#block-search-form, #search-form {
  padding-bottom: 7px;
  
  .content {
    margin-top: 0;
  }
  
  input#edit-keys, .form-item-search-block-form input {
    float: left;
    font-size: 1em;
    height: 1.143em;
    margin-right: 5px;
    width: 9em;
  }
  
  input.form-submit {
    margin-left: 0;
    margin-right: 0;
    height: 25px;
    width: 34px;
    padding: 0;
    cursor: pointer;
    text-indent: -9999px;
    border-color: #e4e4e4 #d2d2d2 #b4b4b4;
    background: image-url("search-button.png") no-repeat center top;
    overflow: hidden;
  }
  
  input.form-submit:hover,input.form-submit:focus {
    background-position: center bottom;
  }
  
  .form-item-keys label {
    display: block;
  }
}

#skip-link {
  display: none;
}

#content-main blockquote {
  background: image-url("blockquote.png") no-repeat;
  padding: 5px 5px 5px 42px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  font-size: 0.923em;
  margin: 0 0 10px;
  border: 1px solid #bebfb9;
  
  td, th {
    vertical-align: middle;
    padding: 8px 10px;
    border: 0;
    color: #000;
  }
  
  th {
    text-transform: uppercase;
    background: #e1e2dc;
    font-weight: normal;
    border-width: 1px;
    border-style: solid;
    border-color: #bebfb9;
    padding: 3px 10px;
  }
  td {
    a {
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }
  }
  
  tr:nth-of-type(even) td{
   background-color:#ddd;
   color: black;
  }
}

table.views-view-grid {
  width: auto !important;
  border: none !important;
  
  th, td {
    padding: 0 10px 0 0 !important;
    border: none !important;
  }
  
  tr:nth-of-type(even) td{
    background-color: white;
    color: black;
  }
}

/* Action links */
ul.action-links {
  @include clearfix;
  padding: 0 !important;
  list-style-type: none !important;
  overflow: hidden;
  margin-left: 0 !important;
  margin-bottom: 1em;
  
  li {
    margin-left: 0 !important;
    float: left;
    margin-right: 1em;
    list-style-type: none !important;
  }
  
  li a {
    @include sassy-button("matte", 5px, 16px, $branding-color, darken($branding-color, 8%), white, "inset");
    text-decoration: none;
  }
}

input.form-submit, a.button {
  @include sassy-button("matte", 5px, 16px, $branding-color, darken($branding-color, 8%), white, "inset");
}

@import "context";
@import "vih";
