@import "compass/css3";
@import "compass/css3/opacity";

$opacity: 0.7;

/* flash specific */

.media-youtube-outer-wrapper {
  clear: both;
  background: #fff;
  margin: 10px auto;
  object {
    width: 600px;
  }
}

.field-name-field-picture img {
  float: right;
  margin-left: 1em;
  margin-bottom: 1em;
}

.field-name-field-image img {
  float: right;
  margin-left: 5px;
  margin-bottom: 5px;
}

.sidebar-slide {
  position: relative;
  top: 0;
  height: 208px;
  width: 160px;
  overflow: hidden;
  
  div.views-field-title a {
    position: absolute;
    top: 100px;
    display: block;
    font-size: 1em;
    text-decoration: none;
    font-weight: bold;
    background: black;
    padding: 5px 10px;
    color: white;
    @include opacity($opacity);
  }
}

.subject-packages {
  position: relative;
  
  .views-field-name {
    position: absolute;
    top: 300px;
    a {
      color: black;
      text-decoration: none;
      font-size: 20px;
      background: white;
      padding: 5px 10px;
    }
  }
}

.short-course-types .views-field-name {
  position: relative;
  top: -55px;
  height: 0px;
  a {
    color: black;
    text-decoration: none;
    font-size: 16px;
    background: white;
    padding: 5px 10px;
    width: 100px;
  }
}

.faciliteter .views-field-title {
  position: relative;
  top: -55px;
  height: 0px;
  a {
    color: black;
    text-decoration: none;
    font-size: 16px;
    background: white;
    padding: 5px 10px;
    width: 100px;
  }
}

.subjects-page {
  td {
    margin: 0;
    padding: 0;
  }
  .views-field-title {
    position: relative;
    top: -60px;
    height: 0px;
    a {
      color: white;
      text-decoration: none;
      font-size: 12px;
      background: black;
      padding: 5px 5px;
      width: 135px;
      @include opacity($opacity);
      display: block;
      margin: 0;
    }
  }
}

.travel .views-field-title {
  position: relative;
  top: -140px;
  height: 0px;
  display: block;
  a {
    color: black;
    text-decoration: none;
    font-size: 16px;
    background: white;
    padding: 5px 5px;
    width: 135px;
    @include opacity($opacity);
    display: block;
  }
}

.page-fag #content-main h2 {
  text-transform: uppercase;
  background: #41AD49;
  font-size: 30px;
  color: white;
  padding: 5px 10px;
}

.views-table {
  clear: both;
}

.lectures-appetizer {
  position:relative;
  height: 450px;
  overflow: hidden;
  padding: 0;
  .views-slideshow-cycle-main-frame-row-item .views-field-field-picture {
    height: 448px;
    overflow: hidden;
  }
  .transparent {
    background: white;
    position: absolute;
    top: 200px;
    left: 0px;
    width: 300px;
    color: black;
    padding: 5px;
    font-size: 1.3em;
    a {
      color: black;
      text-decoration: none;
    }
  }
  .views-field-field-speaker {
    color: black;
    position: absolute;
    top: 75px;
    font-size: 0.8em;
    width: 115px;
    background: white;
    padding: 0 4px;
  }
}

.lectures-slideshow {
  float: left;
  display: block;
  width: 295px;
  margin-left: 10px;
  height: 305px;
  .transparent {
    background: white;
    position: relative;
    top: -115px;
    left: 0px;
    width: 215px;
    color: black;
    padding: 5px;
    font-size: 1.1em;
    a {
      color: black;
      text-decoration: none;
    }
  }
}

.news-slideshow {
  float: left;
  display: block;
  width: 295px;
  height: 448px;
  a {
    color: black;
    text-decoration:none;
  }
  .transparent {
    background: black;
    position: relative;
    top: -160px;
    left: 0px;
    width: 480px;
    color: white;
    padding: 10px;
    font-size: 1.1em;
    zoom: 1;
    @include opacity($opacity); 
  }
}

#content-main .news-slideshow .transparent h2 {
  font-size: 1.1em;
}

.field-name-field-registration {
  margin: 1em 0;
  a {
    background: #ffffff image-url("buttons.png") 0 0 repeat-x;
    border: 1px solid #e4e4e4;
    border-bottom: 1px solid #b4b4b4;
    border-left-color: #d2d2d2;
    border-right-color: #d2d2d2;
    color: #3a3a3a;
    cursor: pointer;
    font-size: 0.929em;
    font-weight: normal;
    text-align: center;
    margin-bottom: 1em;
    margin-right: 0.6em;
    padding: 4px 17px;
    @include border-radius(15px);
    text-decoration: none;
  }
}

div.field-name-field-register-at {
  display: inline-block;
  margin-top: 1em;
  background: #ffffff image-url("buttons.png") 0 0 repeat-x;
  border: 1px solid #e4e4e4;
  border-bottom: 1px solid #b4b4b4;
  border-left-color: #d2d2d2;
  border-right-color: #d2d2d2;
  color: #3a3a3a;
  cursor: pointer;
  /* font-size: 0.929em; */
  font-weight: normal;
  text-align: center;
  margin-bottom: 1em;
  margin-right: 0.6em;
  padding: 4px 17px;
  @include border-radius(15px);
  text-decoration: none;
  width: auto;
  
  a {
    text-decoration: none;
  }
}

.user-picture {
  float: left;
  margin-right: 0.5em;
}

.submitted {
  color: #ccc;
  margin-bottom: 1em;
  
  a {
    color: #ccc;
  }
}

.field-name-field-course-leader {
  background: #eee;
  border: #ccc 2px solid;
  padding: 10px 10px 5px 5px;
  margin: 1em 0;
  
  .field-name-field-image .field-items {
    float: left;
    margin-right: 1em;
  }
  
  a {
    font-weight: bold;
  }
  
  h2 {
    font-size: 1em;
  }
}

.field-name-field-employee-reference {
  .field-name-field-image .field-items {
    float: left;
    margin-right: 1em;
  }
  a {
    font-weight: bold;
  }
  
  h2 {
    font-size: 1em;
  }
}

.node-employee-context ul.inline, .node-employee ul.inline {
  display: none;
}

.field-type-entityreference .node-webform h2 {
  font-size: 1em;
  
  a {
    text-decoration: none;
    color: black;
  }
}

.node-type-vih-long-course div.field-name-field-course-time {
  margin-bottom: 1em;
  color: #bbb;
}

#col3 .short-courses-sidebar {
  ul {
    padding-left: 0;
  }
  li	 {
    margin-bottom: 0.3em;
    padding-bottom: 0;
  }
  h3 {
    font-weight: normal;
    text-transform: lowercase;
  }
}

#views_slideshow_cycle_main_oneliners-block .views-field-title {
  position: absolute;
  top: 300px;
  
  h3 {
    color: black;
    text-decoration: none;
    font-size: 25px;
    background: white;
    padding: 10px 15px;
  }
}

.teachers {
  td {
    margin: 0;
    padding: 0;
  }
  .views-field-title {
    position: relative;
    top: -70px;
    height: 0px;
    
    a {
      color: white;
      text-decoration: none;
      font-size: 12px;
      background: black;
      padding: 8px 8px;
      width: 129px;
      @include opacity($opacity);
      display: block;
      margin: 0;
      font-weight: bold;
    }
  }
}

#content-main {
  .pane-employees-context th {
    display: none;
  }
  
  .teacher-context {
    table.views-table td, .views-table tr, table.views-table, .views-table th {
      border: none;
      background: none;
    }
    table.views-table td {
      vertical-align: middle;
    }
  }
  
  .teacher-context-table h2.pane-title, #content-main .pane-employees-context h2.pane-title {
    padding: 10px 10px 0px 10px !important;
  }
  
  .teacher-context .views-content {
    padding: 10px;
  }
  
  .teacher-context table.views-table td {
    padding: 10px;
  }
  
  /* HACK FOR ENGLISH PAGE */
  .calltoaction {
    margin-top: 1em;
    margin-bottom: 1em;
    background: #cbcbcb;
    @include border-radius(8px);
    padding: 1em;
    width: 50%;
    float: right;
  }
}

table.skema {
  caption {
    font-weight: bold;
    text-transform: uppercase;
  }
  td, th {
    text-align: center;
  }
  tr {
    border-width: 1px 0 1px 0;
    border-style: solid;
    border-color: #bebfb9;
  }
  td {
    border-width: 0 1px 0 1px;
    border-style: solid;
    border-color: #bebfb9;
  }
}

form.commerce-add-to-cart {
  margin-top: 1em;
  background: #cbcbcb;
  margin-bottom: 1em;  
  padding: 1em;
  @include border-radius(8px);
  
  .views-table {
    margin-top: 1em;  
  }
}

.display-price-amount {
  font-size: 2em;
}
