@import "compass/css3";
@import "compass/css3/opacity";

$opacity: 0.7;

@mixin picture-button($top, $font-size: "16px") {
  position: relative;
  top: $top;
  height: 0px;
  a {
    color: black;
    text-decoration: none;
    font-size: $font-size;
    background: white;
    padding: 5px 10px;
    width: 100px;
  }
}

@mixin picture-button-opaque($top, $width: "135px", $font-size: "12px") {
  position: relative;
  top: $top;
  height: 0px;
  display: block;
  width: $width;
  a {
    color: white;
    text-decoration: none;
    font-size: $font-size;
    font-weight: 600;
    background: black;
    padding: 5px 5px;
    width: $width;
    @include opacity($opacity);
    display: block;
    margin: 0;
  }
}

.sidebar-slide {
  height: 208px;
  width: 160px;
  overflow: hidden;
  
  div.views-field-title {
    @include picture-button-opaque(-100px);
  }
}

.teachers {
  td {
    margin: 0;
    padding: 0;
  }
  .views-field-title {
    @include picture-button-opaque(-70px, 134px);
  }
}

.subject-packages .views-field-name {
  @include picture-button(-90px, 20px);
}

.short-course-types .views-field-name {
  @include picture-button(-55px);
}

.faciliteter .views-field-title {
  @include picture-button(-55px);
}

.subjects-page {
  td {
    margin: 0;
    padding: 0;
    width: 135px;
  }
  .views-field-title {
    @include picture-button-opaque(-60px);
  }
}

.travel .views-field-title {
  @include picture-button-opaque(-140px, 135px, 16px);
}

#views_slideshow_cycle_main_oneliners-block .views-field-title {
  position: absolute;
  top: 300px;
  
  h3 {
    color: black;
    text-decoration: none;
    font-size: 25px;
    background: white;
    padding: 10px 15px;
  }
}

.news-slideshow {
  a {
    color: black;
    text-decoration: none;
  }
  .transparent {
    background: black;
    position: relative;
    top: -160px;
    left: 0px;
    width: 480px;
    color: white;
    padding: 10px;
    font-size: 1.1em;
    zoom: 1;
    @include opacity($opacity);
    
    h2 {
      font-size: 1.1em;
    }
  }
}

.media-youtube-outer-wrapper {
  clear: both;
  background: #fff;
  margin: 10px auto;
  object {
    width: 600px;
  }
}

.page-fag #content-main h2 {
  text-transform: uppercase;
  background: #41AD49;
  font-size: 30px;
  color: white;
  padding: 5px 10px;
}

.views-table {
  clear: both;
}

.field-name-field-registration {
  margin: 1em 0;
  a {
    background: #ffffff image-url("buttons.png") 0 0 repeat-x;
    border: 1px solid #e4e4e4;
    border-bottom: 1px solid #b4b4b4;
    border-left-color: #d2d2d2;
    border-right-color: #d2d2d2;
    color: #3a3a3a;
    cursor: pointer;
    font-size: 0.929em;
    font-weight: normal;
    text-align: center;
    margin-bottom: 1em;
    margin-right: 0.6em;
    padding: 4px 17px;
    @include border-radius(15px);
    text-decoration: none;
  }
}

.user-picture {
  float: left;
  margin-right: 0.5em;
}

.submitted {
  color: #ccc;
  margin-bottom: 1em;
  
  a {
    color: #ccc;
  }
}

.field-name-field-course-leader {
  background: #eee;
  border: #ccc 2px solid;
  padding: 10px 10px 5px 5px;
  margin: 1em 0;
  
  .field-name-field-image .field-items {
    float: left;
    margin-right: 1em;
  }
  
  a {
    font-weight: bold;
  }
  
  h2 {
    font-size: 1em;
  }
}

.field-name-field-employee-reference {
  .field-name-field-image .field-items {
    float: left;
    margin-right: 1em;
  }
  a {
    font-weight: bold;
  }
  
  h2 {
    font-size: 1em;
  }
}

.node-employee-context ul.inline, .node-employee ul.inline {
  display: none;
}

.field-type-entityreference .node-webform h2 {
  font-size: 1em;
  
  a {
    text-decoration: none;
    color: black;
  }
}

.node-type-vih-long-course div.field-name-field-course-time {
  margin-bottom: 1em;
  color: #bbb;
}

#col3 .short-courses-sidebar {
  ul {
    padding-left: 0;
  }
  li	 {
    margin-bottom: 0.3em;
    padding-bottom: 0;
  }
  h3 {
    font-weight: normal;
    text-transform: lowercase;
  }
}

#content-main {
  .pane-employees-context th {
    display: none;
  }
  
  .teacher-context {
    table.views-table td, .views-table tr, table.views-table, .views-table th {
      border: none;
      background: none;
    }
    table.views-table td {
      vertical-align: middle;
    }
  }
  
  .teacher-context-table h2.pane-title, #content-main .pane-employees-context h2.pane-title {
    padding: 10px 10px 0px 10px !important;
  }
  
  .teacher-context .views-content {
    padding: 10px;
  }
  
  .teacher-context table.views-table td {
    padding: 10px;
  }
  
  /* HACK FOR ENGLISH PAGE */
  .calltoaction {
    margin-top: 1em;
    margin-bottom: 1em;
    background: #cbcbcb;
    @include border-radius(8px);
    padding: 1em;
    width: 50%;
    float: right;
  }
}

form.commerce-add-to-cart {
  .views-table {
    margin-top: 1em;  
  }
}

.display-price-amount {
  font-size: 2em;
}
