// Forms
//
// Markup:
// <fieldset>
//   <legend>Legend</legend>
//   <input type="text" class="form-submit" />
// </fieldset>
//
// Styleguide 3.0.0
fieldset {
  border: 1px solid #ddd;
  padding: 1em;
  margin-bottom: 1em;
  clear: both;

  legend {
    font-weight: bold;
    color: black;
  }
}