// Main SCSS
//
// Styleguide 1.1

#content-main {
  img {
    max-width: 610px;
    height: auto;
  }

  .panel-pane {
    margin-bottom: 1em;
  }

  .field-type-text-long, .field-type-text-with-summary {
    ul, ol {
      margin: 0.5em 1em;
    }

    ol li {
      list-style: decimal;
    }

    ul {
      li {
        list-style: square;
      }
      .links {
        padding-left: 0;
        margin-bottom: 1em;
        margin-top: 2em;
        font-size: 0.8em;

        li {
          margin-left: 0;
          padding-left: 0;
          padding-right: 1em;
        }
      }
    }

    li {
      margin: 0.5em 0.5em;
    }
  }

  dt {
    font-weight: bold;
    margin-top: 0.8em;
  }

  dd {
    margin-left: 1em;
  }

  p {
    margin-bottom: 0.5em;
  }
}

#col3 {
  h2, h3 {
    color: #fff;
    text-transform: uppercase;
    padding: 15px 0 0 0;
  }

  ul {
    padding-left: 15px;
  }

  li {
    list-style: square;
    padding-bottom: 0.5em;
  }

  a {
    color: white;
    text-decoration: none;
    &:hover {
      color: white;
      text-decoration: underline;
    }
  }

  .inner {
    line-height: 1.5;
    padding: 1em;

    h3 {
      margin: 12px 0 0;
    }

    .last {
      margin: 0
    }
  }
}

#breadcrumb {
  width: 550px;
  float: left;
  color: $faded-text-color;
  margin: 0 0 0 10px;
  padding: 0 15px;

  a {
    color: $faded-text-color;
    text-decoration: none;

    em {
      font-style: italic;
    }
  }
}

.media-youtube-outer-wrapper {
  clear: both;
  background: $background-color;
  margin: 10px auto;
  object {
    width: 600px;
  }
}


// Blockquote
//
// Markup:
// <div id="content-main"><blockquote>My quote rocks</blockquote></div>
//
// Styleguide 4.0.0
#content-main blockquote {
  background: image-url("blockquote.png") no-repeat;
  padding: 5px 5px 5px 42px;
}

// Action links
//
// Markup:
// <ul class="action-links">
//   <li><a href="#">My action link</a></li>
// </ul>
//
// Styleguide 4.2.0
ul.action-links, div.btn-links ul {
  @include clearfix;
  padding: 0 !important;
  list-style-type: none !important;
  overflow: hidden;
  margin-left: 0 !important;
  margin-bottom: 1em;

  li, li.first {
    margin-left: 0 !important;
    float: left;
    margin-right: 1em;
    list-style-type: none !important;
  }

  li a {
    @include sassy-button("matte", 5px, 16px, $branding-color, darken($branding-color, 8%), white, "inset");
    text-decoration: none;
  }
}
