#block-system-main-menu {
  h2 {
    display: none;
  }

  ul.menu {
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
    font-size: 12px;

    li {
      margin: 0;
      padding: 0;
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 0.1em;
      padding: 7px 0 7px 0;
      list-style-image: none;
      list-style-type: none;

      ul {
        padding: 0 0;
        margin-left: 5px;
      }

      li {
        padding: 0 0;
        margin-left: 10px;
        text-transform: none;
        font-weight: normal;
        letter-spacing: 0em;
        list-style-type: square;
      }
    }

    a {
      color: white;
      text-decoration: none;
      background: transparent;
    }
    a:hover {
      color: #005511;
      text-decoration: none;
    }

    li#current a {
      color: #005511;
      text-decoration: none;
    }

    a.active-trail {
      color: #005511;
      text-decoration: none;
    }
  }
}