// Special styles used specificially for vih.dk
//
// Styleguide 8.0.0

$opacity: 0.7;

// Puts a link over a picture for a button effect
//
// $top       - How long from the top of the image
// $font-size - Font size to user
//
// Styleguide 8.0.1
@mixin picture-button($top, $font-size: "16px") {
  position: relative;
  top: $top;
  height: 0px;
  a {
    color: black;
    text-decoration: none;
    font-size: $font-size;
    background: white;
    padding: 5px 10px;
    width: 100px;
  }
}

// Puts an opaque link over a picture for a button effect
//
// $top       - How long from the top of the image
// $width     - How wide should the text be
// $font-size - Font size to user
//
// Styleguide 8.1.0
@mixin picture-button-opaque($top, $width: "135px", $font-size: "12px") {
  position: relative;
  top: $top;
  height: 0px;
  display: block;
  width: $width;
  a {
    color: white;
    text-decoration: none;
    font-size: $font-size;
    font-weight: 600;
    background: black;
    padding: 5px 5px;
    width: $width;
    @include opacity($opacity);
    display: block;
    margin: 0;
  }
}

.sidebar-slide {
  .views-field-title {
    @include picture-button-opaque(-70px, 134px);
  }
}

.teachers {
  .views-field-title {
    @include picture-button-opaque(-70px, 134px);
  }
}

.subjects-page {
  .views-field-title {
    @include picture-button-opaque(-60px);
  }
}

.travel .views-field-title {
  @include picture-button-opaque(-140px, 135px, 16px);
}

.subject-packages .views-field-name {
  @include picture-button(-90px, 20px);
}

.short-course-types .views-field-name {
  @include picture-button(-55px);
}

.faciliteter .views-field-title {
  @include picture-button(-55px);
}

// Styling for stories
//
// Styleguide 8.0.0
.user-picture {
  float: left;
  margin-right: 0.5em;
}

.submitted {
  color: #ccc;
  margin-bottom: 1em;

  a {
    color: $faded-text-color;
  }
}

// Styling for webform headlines
//
// Style the header for webforms used from e.g. long courses
// so it does not break the design.
//
// Styleguide 8.0.2
.field-type-entityreference .node-webform h2 {
  a {
    text-decoration: none;
    color: $text-color;
  }
}

// Style for the date
//
// Add sufficient space under the time for the course.
//
// TODO: Should probably be done with a more global solution.
//
// Styleguide 9.0.0
.node-type-vih-long-course div.field-name-field-course-time {
  margin-bottom: 1em;
  color: $faded-text-color;
}

#col3 {
  .links.inline {
    display: none;
  }
  .short-courses-sidebar {
    ul {
      padding-left: 0;
    }
    li	 {
      margin-bottom: 0.3em;
      padding-bottom: 0;
    }
    h3 {
      font-weight: normal;
      text-transform: lowercase;
    }
  }
}

#content-main {
  .pane-employees-context h2.pane-title {
    padding: 10px 10px 0px 10px !important;
  }

  .teacher-context, .student-quotes {
    div.media {
      @include clearfix;

      img {
        float: left;
        margin-right: 1em;
        margin-bottom: 1em;
      }
    }
  }

  .teacher-context .views-content {
    padding: 10px;
  }

  .field-name-field-pictures {
    @include clearfix;
    .colorbox {
      margin-right: 8px;
      float: left;
    }
  }
}

form.commerce-add-to-cart {
  .views-table {
    margin-top: 1em;
  }

  .field-name-commerce-price .price-amount {
    font-size: 2em;
  }
}

// Styling for subject packages
//
// Used on the frontpage
//
// Styleguide 10.0.0
.cols-5 {
  img {
    width: 120px;
  }
  .views-field-name a {
    font-size: 16px;
  }
}
