// Special styles used specificially for vih.dk
//
// Styleguide 3.0.0

$opacity: 0.7;

// Puts a link over a picture for a button effect
//
// $top       - How long from the top of the image
// $font-size - Font size to user
//
// Styleguide 8.0.0
@mixin picture-button($top, $font-size: "16px") {
  position: relative;
  top: $top;
  height: 0px;
  a {
    color: black;
    text-decoration: none;
    font-size: $font-size;
    background: white;
    padding: 5px 10px;
    width: 100px;
  }
}

// Puts an opaque link over a picture for a button effect
//
// $top       - How long from the top of the image
// $width     - How wide should the text be
// $font-size - Font size to user
//
// Styleguide 8.1.0
@mixin picture-button-opaque($top, $width: "135px", $font-size: "12px") {
  position: relative;
  top: $top;
  height: 0px;
  display: block;
  width: $width;
  a {
    color: white;
    text-decoration: none;
    font-size: $font-size;
    font-weight: 600;
    background: black;
    padding: 5px 5px;
    width: $width;
    @include opacity($opacity);
    display: block;
    margin: 0;
  }
}

.teachers {
  td {
    margin: 0;
    padding: 0;
  }
  .views-field-title {
    @include picture-button-opaque(-70px, 134px);
  }
}

.subject-packages .views-field-name {
  @include picture-button(-90px, 20px);
}

.short-course-types .views-field-name {
  @include picture-button(-55px);
}

.faciliteter .views-field-title {
  @include picture-button(-55px);
}

.subjects-page {
  td {
    margin: 0;
    padding: 0;
    width: 135px;
  }
  .views-field-title {
    @include picture-button-opaque(-60px);
  }
}

.travel .views-field-title {
  @include picture-button-opaque(-140px, 135px, 16px);
}

.media-youtube-outer-wrapper {
  clear: both;
  background: #fff;
  margin: 10px auto;
  object {
    width: 600px;
  }
}

// Styling for stories
//
// Styleguide 8.0.0
.user-picture {
  float: left;
  margin-right: 0.5em;
}

.submitted {
  color: #ccc;
  margin-bottom: 1em;

  a {
    color: #ccc;
  }
}

// Styling for the course leader
//
// Styleguide 9.0.0
.field-name-field-course-leader {
  background: #eee;
  border: #ccc 2px solid;
  padding: 10px 10px 5px 5px;
  margin: 1em 0;

  .field-name-field-image .field-items {
    float: left;
    margin-right: 1em;
  }

  a {
    font-weight: bold;
  }

  h2 {
    font-size: 1em;
  }
}

.field-name-field-employee-reference {
  .field-name-field-image .field-items {
    float: left;
    margin-right: 1em;
  }
  a {
    font-weight: bold;
  }

  h2 {
    font-size: 1em;
  }
}

.node-employee-context ul.inline, .node-employee ul.inline {
  display: none;
}

.field-type-entityreference .node-webform h2 {
  font-size: 1em;

  a {
    text-decoration: none;
    color: black;
  }
}

.node-type-vih-long-course div.field-name-field-course-time {
  margin-bottom: 1em;
  color: #bbb;
}

#col3 {
  .links.inline {
    display: none;
  }
  .short-courses-sidebar {
    ul {
      padding-left: 0;
    }
    li	 {
      margin-bottom: 0.3em;
      padding-bottom: 0;
    }
    h3 {
      font-weight: normal;
      text-transform: lowercase;
    }
  }
}

#content-main {
  .pane-employees-context h2.pane-title {
    padding: 10px 10px 0px 10px !important;
  }

  .teacher-context, .student-quotes {
    div.media {
      @include clearfix;

      img {
        float: left;
        margin-right: 1em;
        margin-bottom: 1em;
      }
    }
  }

  .teacher-context .views-content {
    padding: 10px;
  }

  .field-name-field-pictures {
    @include clearfix;
    .colorbox {
      margin-right: 8px;
      float: left;
    }
  }
}

form.commerce-add-to-cart {
  .views-table {
    margin-top: 1em;
  }

  .field-name-commerce-price .price-amount {
    font-size: 2em;
  }
}

// Styling for subject packages
//
// Used on the frontpage
//
// Styleguide 10.0.0
.cols-5 {
  img {
    width: 120px;
  }
  .views-field-name a {
    font-size: 16px;
  }
}
