// Styles for the theme in different contexts
//
// Styleguide 2.0.0

// Places a prop on the page
//
// $image - Url to image
//
@mixin prop($image) {
  position: absolute;
  z-index: 100;
  width: image-width($image);
  height: image-height($image);
  background: image-url($image) no-repeat 0 0;
}

// Places a prop on the top of the page
//
// $image - Url to image
//
@mixin prop-top($image) {
  @include prop($image);
  top: 110 - image-height($image);
  left: 600 - image-width($image);
}

// Places a prop in the bottom of the page
//
// $image - Url to image
//
@mixin prop-bottom($image) {
  @include prop($image);
  bottom: 50 - image-height($image);
  left: image-width($image) - 80;
}

body.faciliteter,body.bodymind {
  background-image: image-url("background/gulv.jpg");
}

body.photogallery,body.haandbold {
  background-image: image-url("background/hallen.jpg");
}

body.fag,body.badminton,body.volleyball {
  background-image: image-url("background/net3.jpg");
}

body.langekurser,body.fitness,body.spinning-pump-boksning {
  background-image: image-url("background/ribber2.jpg");
}

body.underviser,body.adventure {
  background-image: image-url("background/klatre.jpg");
}

body.kortekurser,body.teambuilder {
  background-image: image-url("background/ropes.jpg");
}

body.organisation,body.fitnessinstruktoer {
  background-image: image-url("background/haandvaegte.jpg");
}

body.bestilling {
  background-image: image-url("background/pool.jpg");
}

body.aerobic {
  background-image: none;
}

body.musiklinje {
  background-image: image-url("background/bgNoder.jpg");
}

body.politilinje {
  background-image: image-url("background/bgpoliti.jpg");
}

body.skitur {
  background-image: image-url("background/bgski.jpg");
}

/* big graphic at top of screen */
.front ,.fodbold,.fodboldakademi {
  #prop {
    @include prop-top("props/float_fodboldstoevle2.png");
  }
}

.adventure #prop,.adventurerejse #prop {
  @include prop-top("props/float_vandrestoevle.png");
}

.haandbold #prop {
  @include prop-top("props/float_haandbold.png");
}

.outdoorenergy #prop {
  @include prop-top("props/lobesko.png");
}

.fodboldakademi #prop2 {
  @include prop-bottom("props/float_lyseroedfodbold.png");
}

.bodymind #prop2 {
  @include prop-bottom("props/float_bodymind.png");
}

.teambuilder #prop2 {
  @include prop-bottom("props/float_vandrestoevle.png");
}

.front #prop2,.fodbold #prop2 {
  @include prop-bottom("props/float_fodbold.png")
}

.faciliteter #prop2,.fitness #prop2,.aerobic #prop2 {
  @include prop-bottom("props/float_fitnesssko.png");
}

.fitnessinstruktoer #prop2,.spinning-pump-boksning #prop2 {
  @include prop-bottom("props/float_fitnesssko3.png");
}

.badminton #prop {
  @include prop-top("props/float_fjerbold.png");
}

.volleyball #prop,.beachvolley #prop {
  @include prop-top("props/volleyball.png");
}
