/* Layout for vih.dk */

#outer {
  width: 1098px;
  margin: auto;
  text-align: left;
  padding: 100px 0 0 0;
}

#highlighted {
  display: inline;
  font-size: 1em;
  line-height: 1.4;
  background: white;
  border-left: 5px solid $branding-color;
  border-bottom: 5px solid $branding-color;
  border-right: 5px solid $branding-color;
  @include border-bottom-radius(10px);
  @include box-shadow(black 5px 5px 5px);
  width: 469px;
  margin-top: -110px;
  float: right;

  .region-highlighted {
    padding: 10px 10px 10px 20px;
  }

  h2 {
    margin-bottom: 0;
    font-weight: bold;
  }
}

#inner {
  position: relative;
  background: white;
  border: 5px solid white;
  margin-top: 20px;
  @include border-bottom-right-radius(40px);
  @include border-top-left-radius(40px);
  @include box-shadow(black 5px 5px 5px);
}

#header {
  @include clearfix;
}

#hd {
  margin: 20px;

  h2 {
    a {
      color: gray;
      text-decoration: none;
      display: block;
      float: right;
      @include replace-text-with-dimensions("logo/logo.gif");
    }
  }
}

#main {
  @include clearfix;
  display: table;
  margin: 1em;
}

#col1, #content-main, #col3 {
  display: table-cell;
  vertical-align: top;
  margin-left: 14px;
  color: #fff;
  padding: 15px 0 15px 0;
  min-height: 200px;
}

#col1 {
  width: 227px;
  padding-top: 50px;
  margin-left: 16px;
  margin-right: 10px;
  background: $branding-color;
  @include border-top-left-radius(30px);
  @include background-image(linear-gradient($branding-color, darken($branding-color, $fade_percent)));

  div.region-sidebar-first {
    padding-left: 12px;
  }

  .region-sidebar-first {
    margin: 0 15px;
  }
}

#content-main {
  padding-top: 0;
  width: 644px;
  margin-left: 9px;
  color: #000;
  overflow: hidden;

  .inner {
    padding: 1em;
  }
}

#col3 {
  padding-top: 10px;
  width: 190px;
  font-size: 11px;
  margin-right: 16px;
  background: $branding-color;
  @include border-bottom-right-radius(30px);
  @include background-image(linear-gradient($branding-color, darken($branding-color, $fade_percent)));
}
