/* line 3, ../../scss/styles/vih_box_highlight.scss */
.vih-box-highlight-pane { background: #cbcbcb; -webkit-border-radius: 8px; -moz-border-radius: 8px; -ms-border-radius: 8px; -o-border-radius: 8px; border-radius: 8px; overflow: hidden; *zoom: 1; margin-bottom: 1em; padding: 1em; }
